DEBUG=True
FLASK_ENV=development
FLASK_APP=app
AUTH0_DOMAIN=dev-liez2zta.us.auth0.com
AUTH0_CLIENTID=NjJO46d4cojBwrUc3PIJPhVZQja0O8eH
API_AUDIENCE=https://github.com/kaggwachristopher
DATABASE_URL=postgres://{DB_USER}:{DB_USER_PASSWORD}@{DB_HOST}/{DB_NAME}
TEST_DATABASE_URL=postgres://{DB_USER}:{DB_USER_PASSWORD}@{DB_HOST}/{DB_NAME}

CASTING_ASSISSTANT_TOKEN=eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6Ing5ZmpnSjBlZmszZ3VBYjc4TjBkZCJ9.eyJpc3MiOiJodHRwczovL2Rldi1saWV6Mnp0YS51cy5hdXRoMC5jb20vIiwic3ViIjoiYXV0aDB8NjMwOTAxZWQ1NWNmZmQ4M2I1NTU0ZGFhIiwiYXVkIjoiaHR0cHM6Ly9naXRodWIuY29tL2thZ2d3YWNocmlzdG9waGVyIiwiaWF0IjoxNjYxNTQ1Mjk0LCJleHAiOjE2NjE2MzE2OTQsImF6cCI6Ik5qSk80NmQ0Y29qQndyVWMzUElKUGhWWlFqYTBPOGVIIiwic2NvcGUiOiIiLCJwZXJtaXNzaW9ucyI6WyJ2aWV3OmFjdG9ycyIsInZpZXc6bW92aWVzIl19.c7JTUNI8HNlvlrR1Igcg8605XbzAaxjD256RAmKnZBPKlQrh8ElInkoY9mVop_Y7cqFd6ojk0yxCEZADWOxJoKnli219rLYoFHxOleBa61syIwbKWEE1_q57MW474monAmB5JtElZCZTVkjrKGLY9MW-8JB1JIym7_DGYANW77wL9PdeGFCXe1aFrJ2W9VSSXU32bwCHc17t4SLlRm0j3fSsKFLr1dhbLclkEjdEZCTMUk-IuUXb4qEoyKdYrRsNz9sVTYLCQBoBSuCPpH_ZN_6Al2lBo7DUkL57LMRw7gOHjZ4Qp7oX4uxW4Oqok9Zok_OgLaihS2pkxuhDf1sNJQ
CASTING_DIRECTOR_TOKEN=eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6Ing5ZmpnSjBlZmszZ3VBYjc4TjBkZCJ9.eyJpc3MiOiJodHRwczovL2Rldi1saWV6Mnp0YS51cy5hdXRoMC5jb20vIiwic3ViIjoiYXV0aDB8NjMwOTI4NTgxMjIxYjI0OTE2MTNmODAzIiwiYXVkIjoiaHR0cHM6Ly9naXRodWIuY29tL2thZ2d3YWNocmlzdG9waGVyIiwiaWF0IjoxNjYxNTQ1NzIxLCJleHAiOjE2NjE2MzIxMjEsImF6cCI6Ik5qSk80NmQ0Y29qQndyVWMzUElKUGhWWlFqYTBPOGVIIiwic2NvcGUiOiIiLCJwZXJtaXNzaW9ucyI6WyJjcmVhdGU6YWN0b3IiLCJkZWxldGU6YWN0b3IiLCJ1cGRhdGU6YWN0b3IiLCJ1cGRhdGU6bW92aWUiLCJ2aWV3OmFjdG9ycyIsInZpZXc6bW92aWVzIl19.qB9mmucuc0RngegbeHFlr-NsrWOx1UKM4HTlF_wKZC9HVja4YNowT4koc3w7-6Vy1H_A_JD05fR7M6eGmvbwYgZFj2kuNPl_1kumQA2uTCqffzDpL7fLc4Nh8J5OXqpGplN47FpinVVb1A53f52u2dGMmPYBo87hPX6yju3B1-JCdESs-SiTmSo0lVZY22k26I6i77m73Xpvg0hSFx6SkP_1WfBF4xCPAyrklnUKwdwwkzIY-ja6MESRYE1R3K6eFeplmQx8kILIUmHGs2z1o1uJnUhx6XlZWyG9mTHP-a1BG-IHGnc4IcEUMLePqE4UfhAXpuMrFW1ymuVQJu1kWA
EXECUTIVE_PRODUCER_TOKEN=eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6Ing5ZmpnSjBlZmszZ3VBYjc4TjBkZCJ9.eyJpc3MiOiJodHRwczovL2Rldi1saWV6Mnp0YS51cy5hdXRoMC5jb20vIiwic3ViIjoiYXV0aDB8NjMwOTI5NDg1OTRjMjFjMzk2ODUwZDM3IiwiYXVkIjoiaHR0cHM6Ly9naXRodWIuY29tL2thZ2d3YWNocmlzdG9waGVyIiwiaWF0IjoxNjYxNTQ2MDAwLCJleHAiOjE2NjE2MzI0MDAsImF6cCI6Ik5qSk80NmQ0Y29qQndyVWMzUElKUGhWWlFqYTBPOGVIIiwic2NvcGUiOiIiLCJwZXJtaXNzaW9ucyI6WyJjcmVhdGU6YWN0b3IiLCJjcmVhdGU6bW92aWUiLCJkZWxldGU6YWN0b3IiLCJkZWxldGU6bW92aWUiLCJ1cGRhdGU6YWN0b3IiLCJ1cGRhdGU6bW92aWUiLCJ2aWV3OmFjdG9ycyIsInZpZXc6bW92aWVzIl19.EFX23Ea4kLsv-aIw3H3s5VuCOxslJr7Y2855iMTh98wqrwSFSfDGDuz-xkWGl8NpiZFxakImApOzRO7EK0elDqlRtgMWvxVPVuNpjkotqgO_9An59XcK1IDyu84gvj8NyVBWViggN7K7un3mW8t8igDjJaaQ-opg4dkmV7IER-csrOmGUosetrjKNh2mueejNLBIs5imEGtEvmXHzMFndOVkpgPcF6Gk7tvZd7tuM3Bj9o0wocDDW2jjENZrYOM9Syxr6WenzKU7Xyp-qNiS2SvhEerhj160FVZoJ58WASnQqCTsjPOVmh4HY3ih2vAlGSLH607Mbip6YKhQn5kpOA
